/* style du body commun à toutes les pages */
body {
  padding: 5em 5em;
  max-width: none;
  min-width: none;
  background-color: Seashell; /*blanc creme*/
  margin: auto;
  text-align: justify;
  font-family: 'Cabin', sans-serif;
}

h2 {
  color: #777; /*gris*/
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
