a {
  text-decoration: none;
}

#bandeau {
  width: 100%;
  padding-top: 5%;
}

.header2 .imageFond {
  width: 100%;
  margin: 0;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -4;
  box-sizing: border-box;
}

.header2 .textFond {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  font-size: 90%;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 60%;
  padding: 20px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  box-sizing: border-box;
}

.container {
  /* flex-direction: column; */
  /* display: flex;
  flex-direction: column; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/*
.creation #photo a .imageMeuble:hover {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.creation #photo a .imageMeuble:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
} */

.creation #photo a .imageMeuble {
  display: block;
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.creation #photo a .imageMeuble:hover {
display: block;
max-width: 400px;
max-height: 200px;
width: auto;
height: auto;
transition-delay: 0.3s;
box-shadow: 1px 1px 12px #555;
transform: scale(1.5);
}

.creation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 1px 1px 12px black;
  padding: 20px 20px 25px 20px;
  margin: 15px;
  align-items:center;
  max-width: 600px;
  max-height: 400px;
  width: auto;
  height: auto;
  border-radius: 5px;
}


.creation #descriptionMeubleGalerie {
  width: 350px;
  height: 350px;
  margin-left: 20px;
}

.creation #descriptionMeubleGalerie a h3 {
  color: black;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  font-size: 20px;
}

.creation #descriptionMeubleGalerie #description {
  font-size: 15px;
  color: black;
  background-color: #DCDCDC;
  margin: 1px;
}

.creation #descriptionMeubleGalerie p #plusInfo {
  border: 1px solid chartreuse;
  color: chartreuse;
  font-size: 15px;
  background-color: #59554C;
  padding: 5px;
  width: 50px;
  height: 22px;
}

.creation #descriptionMeubleGalerie p #plusInfo:hover {
  border: 1px solid white;
  color: white;
  font-size: 15px;
  background-color: #59554C;
  padding: 5px;
}





/*avant*/
/* .titreH2 {
  font-size: 30px;
  margin: 20px 0px 10px 0px;
  border-top: 3px solid green;
  border-bottom: 3px solid green;
  color: grey;
} */

/* .imageCreation {
  width: 300px;
}

section {
  display: flex;
  flex-wrap: wrap;
}

article.creation {
  margin: 10px;
  width: 300px;
}

h2 {
  color: #777;
  text-align: center;
  margin: 30px;
}

h3 {
  text-align: center;
}

a:link,a:visited {
  text-decoration: none;
  color: #73AD21;
}

a:hover {
  color: #777;
} */
