p {
  text-align: center;
  color: black;
  font-size: 1em;
}

h3 {
  font-style: italic;
}

body {
  font-family: "Cabin", sans-serif;;
  color: #777;
}

.container {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

form {
  background-color:#FAFAFA;
  font-size: 0.9em;
  padding:10px;
  width:370px;
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
  border-radius: 5px;
  /* margin-top: 0px; */
}

#formulaire {
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

 textarea {
  /* height: 100px;
  max-width: 100%;
  resize: none; */
 width: 100%;
 height: 150px;
 padding: 12px 20px;
 box-sizing: border-box;
 border: 2px solid #ccc;
 border-radius: 4px;
 background-color: #f8f8f8;
 resize: none;
}

fieldset {
  border: none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

input[type="text"], input[type="email"], select { /* https://www.sanwebe.com/2014/08/css-html-forms-designs : Form Style 10*/
  display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

hr {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

input[type=submit] + a {
  text-decoration: none;
}

input[type=submit],input[type=button]{
	background: #73AD21;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
  color: white;
}

input[type=submit]:hover, input[type=button]:hover{
background: #777;
transition-duration: 0.6s;
}
