
header.header {
  position: fixed;
  left : 0px;
  top : 0px;
  height: 100px;
  width: 100%;
  font-family: 'Cabin', sans-serif;
  background-color: #59554C; /*gris foncé*/
  color: white;
  display: flex;
  flex-flow: row nowrap;
  z-index: 100;
}

header.header div.vertical {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

header.header img {
  height: 100px;
}

header.header div.center {
	flex: 1;
  display: flex;
  align-items: center;
}

header.header h1 {
  flex: 1;
  text-align: center;
  margin: 0px;
  font-size: 1.5em;
}

header.header div.reseaux {
  float: right;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
  width: 120px;
  padding: 5px;
}

div.reseaux img {
  height: 30px;
}

header.header ul {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

header.header ul a {
  padding: 0.4em;
  border-radius: 0.3em;
  text-decoration: none;
  white-space: nowrap;
  color: chartreuse;
}

header.header ul a:hover {
  background-color: chartreuse;
  color: #59554C; /*gris foncé*/
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
