a {
  text-decoration: none;
}

/* haut de page*/

#bandeau {
  width: 100%;
  padding-top: 5%;
}

.header2 .imageFond {
  width: 100%;
  margin: 0;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -4;
  box-sizing: border-box;
}

.header2 .textFond {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  font-size: 90%;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 60%;
  padding: 20px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  box-sizing: border-box;
}

/*fin haut de page*/

/* form*/

/*fin form*/

.container {
  /* flex-direction: column; */
  /* display: flex;
  flex-direction: column; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.meuble {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 1px 1px 12px black;
  padding: 20px 20px 25px 20px;
  margin: 15px;
  align-items:center;
  max-width: 700px;
  max-height: 450px;
  width: auto;
  height: auto;
  border-radius: 5px;
  flex-wrap: wrap;
  flex-direction: row;
}

.meuble #photo a .imageMeuble {
  display: block;
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.meuble #photo a .imageMeuble:hover {
  display: block;
  max-width: 400px;
  max-height: 200px;
  width: auto;
  height: auto;
  transition-delay: 0.3s;
  box-shadow: 1px 1px 12px #555;
  transform: scale(1.5);
}

.meuble #descriptionMeubleGalerie {
  width: 350px;
  height: 350px;
  margin-left: 20px;
}

.meuble #descriptionMeubleGalerie a h3 {
  color: black;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  font-size: 20px;
}

.meuble #descriptionMeubleGalerie #description {
  font-size: 15px;
  color: black;
  background-color: #DCDCDC;
  margin: 1px;
}

.meuble #descriptionMeubleGalerie p #plusInfo {
  border: 1px solid chartreuse;
  color: chartreuse;
  font-size: 15px;
  background-color: #59554C;
  padding: 5px;
  width: 50px;
  height: 22px;
}

.meuble #descriptionMeubleGalerie p #plusInfo:hover {
  border: 1px solid white;
  color: white;
  font-size: 15px;
  background-color: #59554C;
  padding: 5px;
}

.titreH2 {
  font-size: 30px;
  margin: 20px 0px 10px 0px;
  border-top: 3px solid green;
  border-bottom: 3px solid green;
  color: grey;
}

.descriptionMeubleIcone, .descriptionPackageIcone {
  text-align: center;
}

.icone a:link,a:visited {
  text-decoration: none;
  color: #0F6907; /*vert foncé*/
}

.icone a:hover {
  color: #777;
}

form {
  background-color:#FAFAFA;
  padding:10px 5px 10px 10px;
  border: 3px solid #73AD21;
  border-radius: 5px;
  width: 700px;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 30px;
  color: #777;
}

input[type=submit] {
	background: #73AD21;
	border: none;
  margin: 0 10px;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
  color: white;
}

input[type=submit]:hover {
  background: #777;
}

#datededebut {
  width: 340px;
}

#datedefin {
  width: 220px;
}

#categorie {
  width: 140px;
}

#filtre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
