/* test galerie; */

/*----------------------*/
.miniaturePhoto {
  max-width: 100%;
  height: auto;
  /* transform:scale(-1.5); */
}

input[type=radio]{display:none} /*on cache tous les input*/

.container .galerie  label {
  position:relative;
  overflow:hidden;
  cursor:pointer;
  } /*on pointe tous les labels*/

.container .galerie {
overflow:hidden;
position:relative;
text-align:center;
min-height:540px;
max-width:960px;
margin:20px auto;
}


.photos-mini{
display:inline-block;
overflow:hidden;
}

.miniature{
float:left;
width:120px;
margin:5px}

.container .galerie  label, .miniature label img {
  display:block
}

.ImagePleine{
width:600px;
height:400px;
object-fit:contain;
position:absolute;
top:130px;
transition:0.6s;
left:-100%;
opacity:0;
margin-left: 100px;
}

.fen:checked~.ImagePleine{
left:50%;
transform:translatex(-50%);
-webkit-transform:translatex(-50%);
opacity:1;
}

/* fin test s  */


.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 700px;
  box-shadow: 1px 1px 12px black;
  border-radius: 2px;
}

.apercu img {
  width: 200px;
}
.container .galerie {
  z-index: 1;
  display: flex;
  width: 600px;
  height: 670px;
  justify-content: space-around;
}
.container .galerie .imageMeuble {
  max-width: 550px;
  max-height: 400px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.description {
  max-width: 700px;
  max-height: 670px;
}
#description aside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-around;

}

#description aside h1 {
  text-align: right;
  color: black;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  font-size: 40px;
}
#transaction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

#transaction #achat {
  border-top: 2px solid black;
}

 #transaction #location {
   border-bottom: 2px solid black;
   border-top: 1px solid black;
   margin-bottom: 5px;
 }

 #transaction #achat h3 {
    text-align: left;
 }

  #transaction #location h3 {
    text-align: left;
  }

  #transaction #achat h3 form {
     text-align: center;
  }

  #transaction #location h3 form {
     text-align: center;
  }

 #description>aside {
    flex-grow: 1;
}

form {
  background-color:#FAFAFA;
  padding:10px 5px 10px 10px;
  border: 3px solid #73AD21;
  border-radius: 5px;
  width: 300px;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 30px;
  color: #777;
}

input[type=submit] {
	background: #73AD21;
	border: none;
  margin: 0 10px;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
  color: white;
}

input[type=submit]:hover {
  background: #777;
}

#transaction p {
  font-style: italic;
  font-size: 0.9em;
} 
