.item {
    display: flex;
    margin: auto;
    border-bottom: solid 1px;
}

#prix {
    display: flex;
    justify-content: space-around;
}

#descriptionItem {
    flex-grow: 1;
}

form {
    text-align: right;
}

#miniature img {
  width: 200px;
}

h4 {
  text-align: left;
  font-size: 1.3em;
  font-style: italic;
}

#descriptionItem a:link,a:visited {
  text-decoration: none;
  color: #0F6907; /*vert foncé*/
}

#descriptionItem a:hover {
  color: #777;
}

.item #prixU {
  font-style: italic;
}

input[type=submit] {
	background: #73AD21;
	border: none;
  margin: 10px 0;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
  color: white;
}

input[type=submit]:hover {
  background: #777;
}

#total {
  margin: 0;
}
