#vide {
    text-align: center;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#links a:link,a:visited {
  text-decoration: none;
  color: #0F6907; /*vert foncé*/
}

#links a:hover {
  color: #777;
}

#vide p {
    margin : 50px 0px 30px 0px;
}

#links p {
  margin: 30px;
}
